<section class="post-next-prev clearfix">
    {{#previous}}
        <a class="btn btn-default prev-post pull-left" href="{{url}}">← {{title}}</a>
    {{/previous}}
    {{#next}}
        <a class="btn btn-default next-post pull-right" href="{{url}}">{{title}} →</a>
    {{/next}}
</section>