<section class="post-next-prev">
    {{#previous}}
        <a class="prev-post" href="{{url}}">← {{title}}</a>
    {{/previous}}
    {{#next}}
        <a class="next-post" href="{{url}}">{{title}} →</a>
    {{/next}}
    <div class="clearfix"></div>
</section>