<!--TODO Google site search-->
<!--{{> "searchform"}}-->


<!-- Standard id for instafeed element -->
<div id="map-container">
    <div class="tape-left"></div>
    <div class="tape-left-2"></div>
    <div class="tape-right"></div>
    <div id="map"></div>
</div>

<div id="instafeed"></div>